.card img {
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.card-body h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-body p {
    font-size: 0.9rem;
    color: #555;
}

.btn-custom {
    background-color: #007bff;
    color: white;
}


body {
    font-family: Arial, sans-serif;
}

.btn-primary {
    background-color: #4ca5ff;
    border-color: #4ca5ff;
}

.form-switch .form-check-input {
    width: 2em;
    height: 1em;
}

.form-check-label {
    font-size: 0.9rem;
}

.link-primary {
    color: #4ca5ff;
}

.banner {
    background: url(images1/banner-xxl-lds-2.jpg);
    height: 450px;
    background-size: cover;
    /* L'image couvre tout l'écran */
    background-position: center;
    /* Centre l'image */
    background-repeat: no-repeat;
}


.texte {
    padding-top: 170px;
}

.texte h1 {
    font-weight: bold;
    font-size: 50px;
}

.product-card img {
    width: 100%;
    height: auto;
}

.filter-section {
    max-width: 200px;
}
.ban {
    background: url(images1/ban.webp);
    height: 450px;
    background-size: cover;
    /* L'image couvre tout l'écran */
    background-position: center;
    /* Centre l'image */
    background-repeat: no-repeat;
}